<ion-content>
  <ion-row>
    <ion-col style="text-align: center; " text-center>{{ 'IMG_POPOVER.confirmDelete' | translate }}</ion-col>
  </ion-row>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <ion-row style="height: 80vw;">
    <ion-col>

      <div style="display: flex;flex-direction: column;height: 80vw;">
        <img [src]="photo.webviewPath | safeUrl" style="height: 78vw;" />
      </div>

    </ion-col>


  </ion-row>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <ion-row style="justify-content: center;">
    <ion-button (click)="cancel()">{{ 'IMG_POPOVER.cancel' | translate }}</ion-button>
    <ion-button (click)="confirm()">{{ 'IMG_POPOVER.confirm' | translate }}</ion-button>
  </ion-row>
</ion-content>